* {
	margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: white;
}

.principal {
	padding: 40px 15px;
	text-align: center;
}

img {
	width: 50px;
}

#check {
	padding: 0;
    display: none;
}

input#check:checked~div.navbar.navbar-inverse.navbar-fixed-top {
	transform: translateX(300px);
}

#icone {
	top: 0%;
	cursor: pointer;
	padding: 1.5rem;
	position: absolute;
    z-index: 1;
    font-size: 1.8rem;
}

div.navbar.navbar-inverse.navbar-fixed-top {
	left: -300px;
	height: 100%;
	width: 300px;
	position: absolute;
	transition: all .2s linear;
	background-color: #52e398;
}

div.navbar.navbar-inverse.navbar-fixed-top a {
	color: black;
	padding: 0%;
	text-decoration: none;
}

.navigation-bar {
	left: 0%;
	position: absolute;
	top: 70px;
	text-decoration: none;
	cursor: pointer;
}

.link {
	padding: 10px 80px;
	transition: all .2s linear;
	font-size: 1.6rem;
	text-align: center;
	align-content: center;
	background-color: #52e398;
	color: black;
	margin-bottom: 4px solid;
}

.link:hover {
	background-color: green;
	color: white;
}

ul {
	list-style: none;
}

.alert-danger {
	padding: 40px 100px;
	border: lightcoral solid;
	border-radius: 2%;
}

td {
	text-align: center;
}

.alert-success {
	padding: 40px 100px;
	border: green solid;
	border-radius: 2%;
}

.limpo {
	background-color: transparent;
	border: none;
	outline: none;
}

thead {
	background-color: #52e398;
	color: #312e38;
}

.row {
	margin-top: 16px;
}
