<style>
  .content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="content">
  <p>Olá, {{setor}}</p>
  <p>Uma ocorrência foi registrada.</p>
  <p>Clique no link abaixo para prosseguir:</p>
  <p>
    <a href="{{link}}">Visualizar ocorrência</a>
  </p>
  <p>
    <strong>SISOC - Ocorrências</strong>
  </p>
</div>
